:root {
    --primary-color: #7C3AED;
    --primary-dark: #4C1D95;
    --secondary-color: #3B86FF;
    --background-color: #100517;
    --right-color: #34D399;
    --danger-color: #DC2626;
    --ascent-color: #00D4FF;
    --text-color: #F8FAFC;
    --text-color-secondary: #CBD5E1;
    --text-color-neon: #A855F7;
    --text-color-secondary-neon: #FF3BA3;
    --card-backround: #121726;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* NAVBAR */
nav {
    width: 100%;
    padding: 25px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 1.5rem;
    font-weight: 700;

    color: var(--primary-color);
}

.nav-links {
    display: flex;
    gap: 30px;    
}

.nav-link {
    cursor: pointer;
    color: var(--text-color-secondary);
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--primary-color);
    font-weight: 800;
}

/* BOTÕES */
.btn-primary {
    padding: 12px 24px;

    border-radius: 8px;

    background-color: var(--primary-color);
    color: white;

    font-weight: 600;

    transition: .3s;
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-secondary {
    padding: 12px 24px;

    border: 1px solid var(--primary-color);
    border-radius: 8px;

    transition: .3s;
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: white;
}

/* HERO */
.hero {
    padding: 100px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 4rem;
    line-height: 1.1;
}

.hero-content span {
    color: var(--primary-color);
}

.hero-buttons {
    margin-top: 30px;

    display: flex;
    gap: 15px;
}

.hero-image img {
    border: 2px solid transparent;
    width: 560px;
    transition: .5s;
}

.hero-image img:hover {
    box-shadow: 0 0 40px var(--primary-color);
    border-radius: 50px;
}

/* TÍTULOS DAS SEÇÕES */
.section-title {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.section-title p {
    color: var(--text-color-secondary);
}

/* ESTRUTURA GERAL DAS SEÇÕES */
.problems, 
.works,
.dashboard {
    padding: 100px 8%;
}