:root {
    --primary-color: #7C3AED;
    --primary-dark: #4C1D95;
    --secondary-color: #3B86FF;
    --background-color: #100517;
    --right-color: #34D399;
    --danger-color: #DC2626;
    --ascent-color: #00D4FF;
    --text-color: #F8FAFC;
    --text-color-secondary: #CBD5E1;
    --text-color-neon: #A855F7;
    --text-color-secondary-neon: #FF3BA3;
    --card-backround: #121726;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

nav {
    width: 100%;
    padding: 25px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 1.5rem;
    font-weight: 700;

    color: var(--primary-color);
}

.nav-links {
    display: flex;
    gap: 30px;    
}

.nav-link {
    cursor: pointer;
    color: var(--text-color-secondary);
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--primary-color);
    font-weight: 800;
}